.wrapForm {
  width: 100%;
  height: 909px;
  /* background-color: aliceblue; */
  background-image: url("../../assets/image/galaxy.jpg")
}
.wrappedForm {
  
  margin-left: 20vh;
  width: 100vh;
  height: 100%;
}
.formLogin {
  margin-top: 20vh;
  margin-left: 50vh;

}
.formLogin p {
  font-size: 2.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.formLogin button {
  size: 20px;
  font-size: 1em;
  text-transform: uppercase;
}