<div class="wrapForm">
  <div class="wrappedForm">
      <div class="row">
          <div class="col-6 formLogin">
            <form class="text-center border light-border p-5">
              <p class="h4 mb-4">Login</p>
              <input type="text" id="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="username" placeholder="Username" required="required" class="form-control mb-4">

              <input type="password" id="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" placeholder="Password" required="required" class="form-control mb-4" placeholder="Password">
      
              <!-- Sign in button -->
                <button class="btn btn-info btn-block" (click)="login()" type="submit">Sign in</button>       
            </form>
          </div>
        </div>
  </div>
</div>