<div>
  <!--Navbar -->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color-dark">
    <a class="navbar-brand" href="/upload">FHM - PMD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-user-o" aria-hidden="true"></i> Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" *ngIf="auth.isLoggedIn()" (click)="logout()" routerLink="/">Log Out</a>
            <a class="dropdown-item" *ngIf="!auth.isLoggedIn()">Log In</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->

  <router-outlet></router-outlet>

</div>