.listPage {
    margin-top: 20px;
    height: 800px;
    width: 100%;
}

.issueFound .issue {
    float: left;
}
.issueFound .download{
    text-align: right;
    /* color: #90caf9;
    text-decoration-color: #90caf9 */
    text-decoration-line: underline;
}

.solution {
    border: 1px solid;
    background-color: #ffcdd2;
}
.report .col-4{
    background-color: #ffcdd2;
    border: 1px solid;
    border-top: none;
}
.priority1 {
    margin-top: 5px;
    color: #f44336;
}
.priority2 {
    margin-top: 5px;
    color: #8fbe4d;
}

.report .listSeverity {
    margin-left: auto;
     display: flex;
}
.report h5{
    margin-left: 5px;
    font-size: 16px;
}
.report .severity{
    margin-top: 5px;
}

button{
    width: 30px;
    height: 30px;
    padding: 0px;
}

.btn-color{
   background-color: #3f97df !important;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    border: none;
    padding: 5px 10px 5px 10px;
    margin: 2px
}
.filter {
    width: 100%;
    height: 100%;
    background-color: #fcfcfc94;
    margin-top: 20px;
}
.btnFilter {
    width: 300px;
    height: 800px;
}
.sizebtn {
    text-align: center;
    width: 100px;
    height: 40px;
}
.icon1 {
    margin-right:5px;
    width: 10px;
    height: 5px;
    color: #f44336;
}
.icon2 {
    color: #8fbe4d;
}
.btn-filter {
    color: black;
    background-color: #f0f4c3 !important ;
}
.page {
    margin-top: 2%;
    margin-left: 25% !important;
}
.srcFile {
    width: 100%;
    height: 100%;
}
.srcFile p {
    color: #3f97df;
    font-weight: bolder;
    font-size: 20px;
}