<div class="row tableReport">
  <div class="filter col-2">
    <div class="btnFilter">
      <button class="btn btn-primary sizebtn" [ngClass]="{'btn-filter': btnfilter === '1' ?true :false}" (click)="getType($event.target.value)" value="1">
        <i class='fa fa-exclamation-circle fa-lg icon1'></i>Blocker
      </button>
      <button class="btn btn-primary sizebtn" [ngClass]="{'btn-filter': btnfilter === '2' ?true :false}" (click)="getType($event.target.value)" value="2">
        <i class='fa fa-arrow-circle-up fa-lg icon1'></i>Critical
      </button>
      <button class="btn btn-primary sizebtn" [ngClass]="{'btn-filter': btnfilter === '3' ?true :false}" (click)="getType($event.target.value)" value="3">
        <i class='fa fa-chevron-circle-up fa-lg icon1'></i>Major
      </button>
      <button class="btn btn-primary sizebtn" [ngClass]="{'btn-filter': btnfilter === '4' ?true :false}" (click)="getType($event.target.value)" value="4">
        <i class='fa fa-chevron-circle-down fa-lg icon2'></i>Minor
      </button>
      <button type="button"  [ngClass]="{'btn-filter': btnfilter === '5' ?true :false}" (click)="getType($event.target.value)" value="5" class="btn btn-primary sizebtn">
        <i class='fa fa-arrow-circle-down fa-lg icon2'></i>Info
      </button>
      <button type="button" (click)="getType($event.target.value)" [ngClass]="{'btn-filter': btnfilter === '0' ?true :false}" value="0" class="btn btn-primary sizebtn">
          All
        </button>
    </div>
  </div>
  <div class="col-8">
    <div class="listPage">
      <div class="issueFound">
        <div class="srcFile">
            <p>Source file Java: /{{fileSource}}</p>
        </div>
       
        <h4 class="issue">Issues found</h4>
        <h4 class="download"><a (click)="downloadFile(fileName)">Download report as XML</a></h4>
      </div>

      <div class="table" *ngFor="let rp of reports">
        <div class="row solution">
          <div class="col">
            {{ rp.textcontent}}
          </div>
        </div>
        <table class="row report">
          <div class="col-4 listSeverity">
            <i class='fa fa-exclamation-circle priority1' *ngIf="rp.priority === '1'"></i>
            <i class='fa fa-arrow-circle-up priority1' *ngIf="rp.priority === '2'"></i>
            <i class='fa fa-chevron-circle-up priority1' *ngIf="rp.priority === '3'"></i>
            <i class='fa fa-chevron-circle-down priority2' *ngIf="rp.priority === '4'"></i>
            <i class='fa fa-arrow-circle-down priority2' *ngIf="rp.priority === '5'"></i>
            <h5 class="severity" *ngIf="rp.priority === '1'">Blocker</h5>
            <h5 class="severity" *ngIf="rp.priority === '2'">Critical</h5>
            <h5 class="severity" *ngIf="rp.priority === '3'">Major</h5>
            <h5 class="severity" *ngIf="rp.priority === '4'">Minor</h5>
            <h5 class="severity" *ngIf="rp.priority === '5'">Info</h5>
          </div>
          <div class="col-4">
            <h5 class="severity">Begin Line: {{rp.beginline}} </h5>
          </div>
          <div class="col-4">
            <h5 class="severity">End Line: {{rp.endline}}</h5>
          </div>
        </table>
      </div>
    </div>
    <div class="page">
        <tbody>
            <tr *ngFor="let r of totalPage | paginate: { itemsPerPage: 1, currentPage: page }; let i = index">
            </tr>
          </tbody>
          <pagination-controls (pageChange)="page = $event" (click)="pagination(id,page,selectedDevice)"></pagination-controls>
    </div>
   
  </div>
     
</div>
